@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
body 
{
    font-family: "Poppins", serif;
}
.top 
{
    background:#088F33;
}
.navbar-brand
{
    position: absolute;
    top: -47px;
    z-index: 99999;
}
.navbar-brand img 
{
    border: 7px solid orange;
}
.bg-body-tertiary
{
    background: #0B732B !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    padding:15px;
}
.banner .w-100 
{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.carousel-caption
{
    bottom: 13rem;
    right: 9%;
    text-align: right;
}
.box
{
    height: 240px;
    overflow: hidden;
    position: relative;
}
.box img 
{
    transition: 0.9s;
    display: block;
    height: 100%;
}
.box:hover img 
{
    transform: scale(1.5);
    
}
.box p 
{
    position: absolute;
    left: 0;bottom: 0px;
    background: #088F33; color: #fff; padding: 5px;
}
.box:hover p 
{
    background: orange;
}
.nav-pills .nav-link
{
    background: #088F33;
    color: #fff;
    border-radius: 0;
    padding: 15px 30px;
}
.nav-pills .nav-link.active
{
    background: orange;
}
.accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed
{
    background: #0B732B;
  color:#fff;
}